/* Start Browsers Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Browsers Reset */


body {
    
	background-color:#000000;
	color:#ea113a;
	
	background-repeat:no-repeat;
}
h1 {
    padding:0;
}


.imageContainer{
	margin:50px 25px 0 50px;
	width:250px;
	height:250px;
	border-radius:50%;
	border:5px solid #CC0000; 
	display:inline-block;
	vertical-align: top;
	float:left;
}
.profileName{
	width:250px;
	float:left;
	border:1px solid #fff;
	padding:1px;
}

#rollingMessage{
	height:100%; 
	color:#fff;
background: rgb(191,36,38); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(191,36,38,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,36,38,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(191,36,38,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(191,36,38,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(191,36,38,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(191,36,38,1) 0%,rgba(0,0,0,1) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2426', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background-repeat:repeat-x;
	vertical-align: top;
	position: relative;
}

#rollingMessage h1 {
    font-family: 'Strait', sans-serif;
	font-size:4vh; 
	display:inline-block;
	vertical-align: top;
	padding-bottom:0; 
	color:#ea113a;

}

.imageRight {
	margin-top:25px;
	float:left;
	display:inline;
}


#rollingMessage h2 {
	color:#FFF;
	padding-bottom:10px; 
	color:#ea113a;
}


#rollingMessage .bodyContainer{
	margin:50px 20px;
	display:inline-block;
	vertical-align: top;
	position: absolute;
}

h3 {
	font-size:60px; font-weight:normal;
}

#rollingMessage .bodyContainer img {
	height: 400px;
	vertical-align: top;
}

span.continued{
	color:#ea113a;
}

#header{
	padding: 10px 0 5px 50px;
	font-size:40px;
    font-family: 'Strait', sans-serif;
	background-image:url(../images/circles3.png); background-repeat:no-repeat; background-position:right;
}


#iframe{
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 10%;
left: 0;
background-color:#464646; 
color:#FFF;
}

#iframe h1{
padding-top:0px;
text-align:center; 
padding:0 20px 10px; 
color:#FFF;
}


.figure{
display: inline-block;
position: relative;
text-align: center;
width:350px;
margin:25px;

}



